@media (max-width: 1023px) {
	.main-menu {
		height: 0px;
		position: fixed;
		width: 100%;
		background-color: #242424;
		top: 70px;
	}

	.closed {
		height: 350px;
	}

	.main-menu > ul {
		padding: 0;
	}
	.main-menu > ul > li {
		display: block;
		width: 100%;
		text-align: center;
		padding: 0;
	}

	.column-list > li {
		margin: 0 16px;
	}
}

/* Laptops */
@media (min-width: 1024px) {
	.menu-button {
		display: none;
	}
	.main-menu {
		display: block;
	}
}

/* Smartphones */
@media (max-width: 425px) {

	.social {
		display: none;
	}

	.head-section > .content > figure > img {
		width: 100%;
	}

	.main-button {
		width: 80%;
	}

	.column-list > li > figure {
		width: 100%;
		padding: 0 15px;
		box-sizing: border-box;
	}

	.column-list > li {
		width: 100%;
		padding: 0 15px;
		margin: 0px;
		box-sizing: border-box;
		margin-bottom: 50px;
	}

	footer {
		padding-bottom: 0;
	}

	footer > .content {
		padding-bottom: 0;
	}



	footer > .content > .column-list > li {
		margin-bottom: 10px;
	}
}

@media (min-width: 426px) and (max-width: 767px) {
	.column-list > li {
		margin-bottom: 30px;
	}

	footer > .content > .column-list > li {
		width: 100%;
		margin: 0;
		box-sizing: border-box;
	}
	
	footer > .content > .column-list > li > .info-contact-icon {
		width: 50px;
		text-align: right;
	}
}
