html {
	height: 100%;
}

body {
	margin: 0;
	padding: 70px 0 0 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	position: relative;
	/*min-height: 100%;*/
	height: 100%;
}

main {
	min-height: calc(100% - 144px);
	background-color: purple;
	/*margin-bottom: 144px;*/
}

header {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 70px;
	background-color: #242424;
	z-index: 10;
}

.menu-button {
	/*display: none;*/
	position: absolute;
	z-index: 10;
	right: 20px;
	height: 70px;
	width: 70px;
	line-height: 70px;
	text-align: center;
	/*top: 20px;*/
}

.menu-button > ion-icon {
	font-size: 45px;
	line-height: 70px;
	vertical-align: middle;
}

.header-content {
	width: 1440px;
	/*background-color: red;*/
	height: 70px;
	margin: auto;
	text-align: center;
}

.logo {

	float: left;
	color: #d4d4d4;
	/*font-family: 'Yeseva One', cursive;*/

	font-weight: bold;
	height: 100%;
	margin: 0;
	line-height: 70px;
	font-size: 25px;
	margin: 0 20px;
}

.logo:hover {
	color: #a7a7a7;
}

.logo > a {
	text-align: 
}

nav {
	transition: .5s;
	float: right;
	height: 350px;
	overflow: hidden;
}

nav > ul {
	margin: 0;
}

nav > ul > li {
	display: inline-block;
	height: 100%;
	padding: 0 20px;
	line-height: 70px;
	vertical-align: middle;
}

a {
	text-decoration: none;
}

nav > ul > li > a {
	color: #908f8f;
	height: 70px;
	padding: auto;
}

nav > ul > li > a:visited {
	color: #908f8f;
}

nav > ul > li > a:hover {
	color: #bdbdbd;
}

.closed {
	/*height: 350px;*/
}

/*main {
	min-height: calc(100vh - 70px - 144px);
}*/

button {
	position: relative;
	top: -3px;
	color: #ffcfcc;
	background-color: #e16157;
	height: 50px;
	width: 180px;
	border: 0;
	border-radius: 4px;
	-webkit-box-shadow: 0px 4px 0px 0px rgba(165,73,76,1);
	-moz-box-shadow: 0px 4px 0px 0px rgba(165,73,76,1);
	box-shadow: 0px 4px 0px 0px rgba(165,73,76,1);
	vertical-align: middle;
	width: 230px;
	font-size: 16px;
	/*color: white;*/
	color: #ffdbdb;
}

button:hover {
	cursor: pointer;
	top:-2px;
	-webkit-box-shadow: 0px 3px 0px 0px rgba(165,73,76,1);
	-moz-box-shadow: 0px 3px 0px 0px rgba(165,73,76,1);
	box-shadow: 0px 3px 0px 0px rgba(165,73,76,1);
}

button > ion-icon {
	line-height: 30px;
	vertical-align: middle;
	padding: 0 4px;
	font-size: 23px;
	color: white;
}

.social {
	position: fixed;
    left: 0px;
    top: 320px;
    width: 50px;
    height: 100px;
    border: 0;
    border-radius: 0 6px 6px 0;
	overflow: hidden;
	-webkit-box-shadow: 0px 3px 0px 0px #31a8a3;
	-moz-box-shadow: 0px 3px 0px 0px #31a8a3;
	box-shadow: 0px 3px 0px 0px #31a8a3;
}

.social > a > div {
	height: 50px;
	width: 50px;
	line-height: 50px;
	text-align: center;
}

.social > a > div > ion-icon {
	font-size: 25px;
	line-height: 50px;
	vertical-align: middle;
}

.social > a:hover > div > ion-icon {
	color: #ddfffd;

}

.head-section {
	width: 100%;
	height: auto;
	border-top: solid 10px #55a4a1;
	text-align: center;
	background-color: #79cbc7;
}

.content {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	height: auto;
	padding-bottom: 30px;
}


.header1 {
	color: #fff;
	font-size: 30px;
	font-weight: 100;
	padding: 0 30px;
}

.head-section > .content > figure > img {
	width: 25%;
	/*height: 350px;*/
}

ion-icon {
	/*line-height: 18px;*/
	/*margin-top: 3px;*/
	/*height: 30px;*/
	/*margin-top: 5px;*/
	color: white;
	font-size: 20px;
}

.services-section {
	height: auto;
	border-top: solid 20px #e6e4dd;
	text-align: center;
	background-color: #f5f4f0;
	padding-top: 20px;
}

.header2 {
	color: #545659;
	font-size:30px;
	font-weight: 400;
	margin: 20px 0;
}

.content > h3 {
	margin: 10px 0; 
	color: #79cbc7;
	padding: 0 20px;
	/*font-weight: lighter;*/
}

.column-list {
	/*width: 100%;*/
	padding-left: 0;
	/*padding-top: 50px;*/
	height: auto;
	text-align: center;
}

.column-list > li {
	display: inline-block;
	width: 220px;
	text-align: left;
	margin: 0 59px;
}

.column-list > li > figure {
	margin: 0;
	height: 180px;
	width: 200px;
	border-radius: 5px;
	line-height: 265px;
	text-align: center;
	vertical-align: middle;
}

.column-list > li > figure > ion-icon {
	line-height: 250px;
	font-size: 100px;
}

.column-list > li > h2 {
	color: #79cbc7;
	font-weight: 300;
}

.column-list > li > p {
	color: #929292;
	font-size: 15px;
	line-height: 22px;
}

.column-list > li > ul {
	padding-left: 0;
	list-style-type: none;
	margin-bottom: 10px;
}

.column-list > li > ul > li {
	font-size: 14px;
	font-weight: 400;
	color: #4a4950;
}

.column-list > li > ul > li:before {
    content: '\0025AE';
    font-size: 10px;
    color: #a5d091;
    margin-right: 5px;
    vertical-align: top;
}

.column-list > li > a {
	color: #79cbc7;
	font-size: 14px;
}

.column-list > li > a:visited {
	color: #79cbc7;
}

.design {
	background-color: #333f4d;
	-webkit-box-shadow: 0px 5px 0px 0px #1d2529;
	-moz-box-shadow: 0px 5px 0px 0px #1d2529;
	box-shadow: 0px 5px 0px 0px #1d2529;
}

.development {
	background-color: #79cbc7;
	-webkit-box-shadow: 0px 5px 0px 0px #497674;
	-moz-box-shadow: 0px 5px 0px 0px #497674;
	box-shadow: 0px 5px 0px 0px #497674;
}

.support {
	background-color: #a1d29b;
	-webkit-box-shadow: 0px 5px 0px 0px #617b5d;
	-moz-box-shadow: 0px 5px 0px 0px #617b5d;
	box-shadow: 0px 5px 0px 0px #617b5d;
}

footer {
	/*position: absolute;*/
	padding: 30px 0;
	width: 100%;
	bottom: 0;
	/*height: 144px;*/
	box-sizing: border-box;
	background-color: #242424;
	border-top: solid 30px #505050;
	background-color: #242424;
	text-align: center;
	padding-bottom: 0;
}


	footer {
		padding-bottom: 0;
	}

	footer > .content {
		padding-bottom: 0;
	}

	footer > .content > .column-list {
		margin: 0;
	}

	footer > .content > .column-list > li {
		margin-bottom: 10px;
	}

footer > .content > .column-list > li > .info-contact-icon {
	height: 100px;
	/*margin-right: 15px;*/
	/*line-height: 100px;*/
	float: left;
	width: 20%;
	height: auto;
}

footer > .content > .column-list > li > .info-contact-text {
	width: 71%;
	float: right;
	height: auto;
}

footer > .content > .column-list > li > .info-contact-icon > ion-icon {
	font-size: 50px;

}

footer > .content > .column-list > li > div > h3 {
	color: #d4d4d4;
	margin: 0;
}

footer > .content > .column-list > li > div > a {
	color: #79cbc7;
	margin: 0;
}

footer > .content > .column-list > li > a {
	color: #908f8f;
}

.fixedFooter {
	position: fixed;
    left: 0;
    bottom: 0;
}