body {
	margin: 0;
	padding-top: 70px;
	background-color: gray;
}

main {
	margin: 0 auto;
	background-color: white;
	width: 800px;
	height: 800px;

}

.container {
	height: 300px;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.slider {
	position: relative;
	left: 0px;
	width: 2400px;
	height: 300px;
	background-color: red;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.slide {
	float: left;
	width: 800px;
	height: 300px;
}

.arrows {
	position: absolute;
	z-index: 11;
	width: 100%;
	height: 100%;
}

.arrow {
	width: 50px;
	font-size: 70px;
	z-index: 10;
	line-height: 100%;
	vertical-align: middle;
	display: inline-block;
	transition: .3s;
	user-select: none;
}

.arrow:hover {
	cursor: pointer;
	opacity: .6;
}

.left-arrow {
	float: left;
}

.right-arrow {
	float: right;
	z-index: 11;
	right: 0;
	width: auto;
}

.dots {
	padding: 0;
	margin: 0;
	position: absolute;
	bottom: 0px;
	z-index: 11;
	width: 100%;
	text-align: center;
}

.dot {
	margin: 0 2px;
	display: inline-block;
	background-color: white;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	border: 1px solid black;
	transition: .3s;
}

.dot:hover {
	cursor: pointer;
	background-color: gray;
}